.navbar-collapse {
	justify-content: flex-end;
}

*,
p,
a,
h1,
h2,
h3,
h4,
h5 {
	font-family: "Playfair Display" !important;
	text-shadow: 0 0 1px transparent !important;
}


#myVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}

#carouselExampleControls {
	background: rgba(48, 34, 121, 0.85);
	border-radius: 30px;
}

nav img {
	transform: scale(2.0)
}

nav {
	background-image: linear-gradient(to left, rgba(140, 198, 251, 1), rgba(0, 0, 0, 0.74));
	z-index: 10;
}

header h1 {
	transform: scale(1.2);
}

body {
	background-image: linear-gradient(lightblue, blue);
}

nav a:hover {
	border-bottom: 2px solid white;
	padding-bottom: 0
}

#Features h2 {
	transform: scale(1.3);
	margin-bottom: 0.7em;
}

#FeaturesHeader {
	transform: scale(1.7);
	margin-top: 1em;
}

img {
	display: block;
	max-width: 100%;
	height: 7.5em;
	margin: 0;
}


#icon:hover {
	transform: scale(1.8);
}

iframe {
	width: 100%;
	height: 100%
}

#card {
	transition: all 0.5s ease;

}

#infoHead {
	background-image: linear-gradient(rgba(140, 198, 251, 1), rgba(32, 70, 137, 1));
	border-radius: 30px;
	transform: scale(1.5);
	margin-bottom: 0.7em;
}

#infotag {
	transform: scale(1.2);
}

#card:hover {
	transform: scale(1.1);
}

.card-footer {
	border-top: 0 solid black;

}

#card:hover .card-footer {
	background-color: lightblue;
	-webkit-transition: background-color 1s ease-out;
}

#card:hover .card-body {
	background-color: lightblue;
	-webkit-transition: background-color 1s ease-out;
}

#features {
	z-index: 50;
}

#Features {
	animation: features 0.5s ease-out 0s 1 normal forwards;
	background-image: linear-gradient(rgba(140, 198, 251, 0.8), rgba(32, 70, 137, 0.8));
	color: black;
	height: 100%;
	border-radius: 20px;
	transform: scale(1.3);

}

#Features {
	font-size: 1.4em;
}


@keyframes features {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}

header {
	animation: head 1s ease 0s 1 normal forwards;
	color: #03045E;
}

@keyframes head {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}

#background {
	animation: myAnim 4.5s ease 0s 1 forwards;

}

@keyframes myAnim {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

#info {
	animation: info 1s ease-in 0s 1 normal forwards;
}

@keyframes info {
	0% {
		opacity: 0;
		transform: translateY(-250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.reveal {
	position: relative;
	transform: translateY(150px);
	opacity: 0;
	transition: 1s all ease;
}

.reveal.active {
	transform: translateY(0);
	opacity: 1;
}

@media screen and (min-width:1180px) {

	#bigheader {
		font-size: xx-large;
		transform: scale(3.5);

	}

	header p {
		transform: scale(1.3);
	}

	#Features h2,
	p {
		font-size: x-large;
	}

}

@media screen and (min-width:900px) {

	#bigheader {
		font-size: xx-large;
		transform: scale(2.5);

	}

	#FeaturesHeader {
		margin-top: 1em;
	}
}

@media screen and (max-width:800px) {
	header h1 {
		transform: scale(1.7);
		font-size: x-large;
	}

	#FeaturesHeader {
		transform: scale(0.9)!important;
		font-size:xx-large;
	}
	nav img {
	transform: scale(1.2)
}
}
