* {
	font-family: "Playfair Display";
	text-shadow: 0 0 1px transparent;
}
body {
	background-color: purple;
	height:100%;
	width:100%;
}

navbar {
	background-image: linear-gradient(to left, rgba(140, 198, 251, 1), rgba(0, 0, 0, 0.74));

}

main {
	z-index: 10;
}
nav a:hover {
	border-bottom: 2px solid white;
	padding-bottom: 0
}
footer {
	z-index: 10;

}
#contacthead h1{
		font-size:6em;
}
#contacthead p{
		font-size:3em;
}
navbar a:hover {
	border-bottom: 2px solid white;
	padding-bottom: 0
}
navbar img {
	transform: scale(2.0)
}
#Contacts {
		font-size: 1em;
		text-decoration:underline;
}
#Contacts:hover {
	transform: scale(1.5);
}

.form {
	border-radius:30px;
}

img {
	height:6.4em!important;
}

.nav-link {
	color:white !important;
	text-decoration:none;
}
@media screen and (max-width:800px) {

	nav img {
	transform: scale(1.2)
}
}