* {
	font-family: "Playfair Display";
	text-shadow: 0 0 1px transparent;
}
body {
	background-color: purple
}

navbar {
	background-color: #023E8A
}

main {
	z-index: 10;
}

footer {
	z-index: 10;

}
#Contacts {
		font-size: 1em;
		text-decoration:underline;
}
#Contacts:hover {
	transform: scale(1.5);
}

.form {
	border-radius:30px;
}