* p,
h1,
h2,
h3,
h4,
h5 {
    color: black !important;
}
html, body {
    min-height: 100%;
}
main {
    color: white;
    font-family: arial;
}
nav {
    z-index:10;
}

* {
    font-family: "Playfair Display";
    text-shadow: 0 0 1px transparent;
}
nav a:hover {
	border-bottom: 2px solid white;
	padding-bottom: 0
}
#navBar {
    background-color: #023E8A;
    display: flex;
    justify-content: space-between;
    width: 30%;
    
}

video {
    z-index: -10;
}

img {
    display: block;
    max-width: 100%;
    height: 5em !important;
    margin: 0;
}

body {
    background-image: linear-gradient(lightblue, blue);
}

#rectangle {
    background-color: lightblue;

}

#rectangle p {
    font-size:1.7em

}
#logo {
    margin-top: 2.5em;
}

nav {
    color: white;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to left, rgba(140, 198, 251, 1), rgba(0, 0, 0, 0.74));
}

footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    height: 20%;
    background-color: grey;
}

#main-box {
    display: grid;
    grid-template-areas:
        "left right";
}

.button {
    border-radius: 15%;
    padding: 10px;
    background-color: white;

}

.left-side {
    grid-area: left;
    width: 50%;
}

.right-side {
    grid-area: right;
    width: 50%;
}

#square img:hover {
    transform: scale(1.2);
    -webkit-transition: transform 0.5s ease-in;
}

#text-start {
    list-style-type: none;
    color: black;
    font-size:1.5em;
}
nav img {
	transform: scale(1.2)
}
u {
    font-size:3em;
}
#mental {
	font-size:3em;
}
#friends {
	color:#00aeef!important;
	font-size:3em;
}

#header{
    font-size:6em;
    
}
@media screen and (min-width:400px)
{
    #rectangle p {
        transform: scale(0.8);
        font-size:2em;
        text-align:center;
    }
}
@media screen and (max-width:1080px) {
    #square p {
        transform: scale(1.05);
        font-size: xx-large;
    }

    #text-start {
        font-size: x-large;
        margin:0;
    }

    #textstarthead {
        font-size: x-large!important;
    }
    
    #logo {
        align-items:flex-start;
    }
}

@media screen and ( max-width:1440px) {
    #square p {
        transform: scale(1.05);
        font-size: xx-large;
    }

    #text-start {
        font-size: xx-large;
        margin:0;
    }

    #textstarthead {
        font-size: xx-large;
    }
    
    #logo{
        margin-top:10em;
        margin-bottom:10em;
        height:0;
        align-items:flex-start;
    }
}


@media screen and (max-width:800px) {

	nav img {
	transform: scale(1.2)
}
}